{% load static %}
<footer class="footer-t-space pb-0">
    <div class="container">
        <div class="row footer-sec footer-b-space">
            <center>
            <div class="col-12">
                <div class="footer-title d-md-none d-block">
                    <h4>about</h4>
                </div>
                <div class="footer-content">
                    <div class="footer-logo"><img src="{% static 'images/company-landing/logo-new.png' %}" alt="" width="200" height="60"></div>
                    <p></p>
                     <!--   <span class="footer-social">
                        <center>
                        <ul  style="display: flexbox;">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fas fa-rss"></i></a></li>
                        </ul>
                    </center>
                </span>-->
                    </div>
                </div>
            </div>
        </center>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="sub-footer">
                    <p>Valuemee © 2022. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->
